

$global:0.625;
$globalfont:"medium", sans-serif;

/* ========================= Colors ============================ */


$fontcolor: rgba(63,49,25,1);
$linkcolor: rgba(63,49,25,1);



/* ========================== Font ============================= */


@mixin font($em){
    font-size: ($em*$global) + px;
    font-size: ($em) + em;
    // line-height:($em * 1)+ em;
}
@font-face {
    font-family: 'medium';
    src: url('/fonts/EncodeSansCompressed-Medium.ttf') format('opentype');
}
@font-face {
    font-family: 'semi';
    src: url('/fonts/EncodeSansCompressed-SemiBold.ttf') format('opentype');
}
@font-face {
    font-family: 'bold';
    src: url('/fonts/EncodeSansCompressed-Bold.ttf') format('opentype');
}
@font-face {
    font-family: 'extra';
    src: url('/fonts/EncodeSansCompressed-ExtraBold.ttf') format('opentype');
}
@font-face {
    font-family: 'questrial';
    src: url('/fonts/Questrial-Regular.ttf') format('opentype');
}



/* ========================== Basics ======================= */

body,
*,
*:after,
*:before  {
  box-sizing: border-box;
  a, h1, h2, h3, h4, h5, h6, p, li, sub, sup, span, input {
    font-family: $globalfont, serif;
    @include font(1);
    color: $fontcolor;
    // opacity: 0.85;
  }
  a {
    // color: $linkcolor;
    font-family: 'questrial', sans-serif;
    // @include font(1.5);
    text-decoration: none;
  }

  h2  {
    font-family: 'bold', sans-serif;
    letter-spacing: -0.59px;
    color: $fontcolor;
  }
  h3  {
    font-family: 'bold', sans-serif;
    letter-spacing: -0.59px;
    color: $fontcolor;
  }
  h4  {
    font-family: 'bold', sans-serif;
    letter-spacing: -0.59px;
    color: $fontcolor;
  }
 
}




header {
	clear:both;
	width:100%;
	@include margin(0);
	background: rgba(241,241,241,1);
	border-bottom: 8px solid rgba(51,127,80,1);
	img {
		width: 35%;
		@include margin(2.5em);
	}
}
footer {
	clear:both;
	
	width:100%;
	@include margin(0);
	background: rgba(241,241,241,1);
	border-top: 8px solid rgba(51,127,80,1);
	img {
		width: 20%;

		@include margin(2.5em 40%);
	}
}